<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Forex Converter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="formContainer">
    <h2 class="formHeader"> Forex Converter </h2>
    <div class="formContentContainer">
        <form id="currency_converter" method="POST">
        <div>
            <label for="field1">From</label>
            <input type="text" name="fromCurrency" class="formInput" id="to" placeholder="Currency Symbol">
        </div>
        <div>
            <label for="field2">To</label>
            <input type="text" name="toCurrency" class="formInput" id="from" placeholder="Currency Symbol">
        </div>
        <div>
            <label for="field3">Amount</label>
            <input type="text" name="Value" class="formInput" id="value" placeholder="Value">
        </div>
        <div>
            <input type="submit" class="submitButton" name="submitButton" value="Convert">
        </div>   

</form>
</div>
</div>
</div>
</body>
</html>